@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of meyer css reset*/





/* header background*/
.header {
  overflow: hidden;
	background:rgb(230, 230, 230, 50%); 
  padding: 20px 10px;
}

/* ALL text in header including links IMPORTANT this changes all elements*/
.header a {
  float: left;
	opacity: 100%;
  color:black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 10px;
  border-radius: 2px;
}


#wrapper{
	
}

/* All LEFT elements: name and occupation*/
.header a.logo {
  font-size: 40px;
color:#8A0000;
  font-weight: bold;
hover: none;
  }   

  
.header a.logo2 {
	text-align: justify;
  font-size: 20px;
	color:black;
  font-weight: bold;
}   

.logo {
	pointer-events: none;
	
}

.logo2 {
	pointer-events: none;
	display: inline;
}

/* END All LEFT elements: name and occupation*/


/* All RIGHT elements plus hover set up */

.header a.active {/* note to self dont delete this */ }

 .header a:hover {
	display:inline;
     background:rgb(57, 59, 52 , 0.3);
	 color:antiquewhite;
 }


.home  {
pointer-events: none;
 display:inline;
color:antiquewhite;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 10px;
  border-radius: 2px;
	 background-color:black; 
	background-opacity: 10%;}


.highlight a:hover{
	/* I can not set up special hover color idk why.... */
		
}

}
 .links{
	display:inline;

	 
}

.header-right {
	display:inline;
  float: right;
 
}

/* Placement of all right elements,*/


/* reminder about @mediascreen: https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
@media screen and (max-width: 500px) {
  .header about {
    float: none;
    display: block;
    text-align: left;
	  
  }
  .header-right {
    float: none;
	 color:antiquewhite;
  
  }
  
/* end of all right element set up */
	
	/* about me set up */
	.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

	.row {
  display: flex;
}

.column {
  flex: 50%;
}