@charset "UTF-8";
/* CSS Document */


.first-letter {
  font-size: 90px; }


img {  

align-content: center;
padding: 30px;}


.box {
 float:right;
	align-content: center;
    width: 300px;
    margin-left: 10px;
	margin-right: -200px;
    margin-top: 70px;
    padding: 100px;
    border: 1px solid black;
	background: #C4C4C4 ;

}




.box2 {
 float:left;
    width: 400px;
    margin-left: 50px;
	margin right: 20px;
    margin-top: 30px;
    padding: 5px;
	padding-top: 10px;
    background: #A7A7A7;

	align-content: center;
}

.link1{ color: #7F5C5D;
	
}
	
	